:root{
    --color-primary: #ffffff;
    --color-secondary:#222222;
    --color-text: #6f6a6a;
    --ff-titres:""

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    liste-style: none;
    scroll-behavior: smooth;
    text-decoration:none;

}

body {

overflow-x: hidden;
}

mark{
    background-color: aquamarine;
}
.nav {

    position: fixed;
    top:0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 6rem;
    padding: 1rem 2rem;
    transition:0.3s ease-in;
    background-color: rgba(5,5,5,0.894  );
    backdrop-filter: blur(4px);
    z-index: 1;
    transform: translateX(0%);
    animation: show 1s forwards;

}

.nav .logo{
font-family: var(--ff-titres);
color: var(--color-primary);
}

.nav .title {
    font-size: 30px;

}

.nav .subtitle {

    font-size: 20px;
}

.nav .nav-list {

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.nav .nav-list .nav-list-item {


    color: var(--color-primary);
    font-size: 20px;
    font-family: var(--ff-titres);
    cursor: pointer;
    transition:0.3s;

}

.nav .nav-list .nav-list-item:hover{
color:darkturquoise;
transform: translateY(-5px);

}

.actions {
    display: flex;
    align-items: center;
    gap: 1rem;

}

.actions-item { 

position: relative;
}

.actions-item i{

color : rgb(14, 10, 6);
transition : 0.3s ease-in-out;
font-size : 20px;
cursor: pointer;position: fixed;
top:0;
display: flex;
width: 100%;
justify-content: space-between;
height: 6rem;
padding: 1rem 2rem;
transition:0.3s ease-in;
background-color: rgba(5, 5, 5, 0.894);
backdrop-filter: blur(4px);
z-index: 1;
transform: translateX(0%);
animation: show 1s forwards;


}

.actions-item .count::after{
    position :absolute;
    content:"0";
    font-size: 10px;
    background-color: rgb(28, 129,131);
    width: 14px;
    height:14px;
    border-radius: 50%;
    top: -5px;
    right: -5px;
    display: flex;
    align-items:center;
    justify-content:center;
}

.actions-item:hover{
color: darkturquoise;
transform: translateY(-5px);

}

.section-one {
min-height: 100vh;
background-image: url("me.avif");
background-position: center;
background-repeat: no-repeat;
background-size: cover ;
display: flex;
flex-direction: column;
justify-content: flex-end;
padding: 2rem 4rem;
position:relative;
}

.section-one h1 {
font-weight: 800;
font-size: 60px;
font-family: var(--ff-titres);
color: var(--color-primary);
letter-spacing: 1px;
animation:  show  1s forwards;
transform: translateX(-100%)
}

@keyframes show {
to {
    transform: translateX(0);
}

}

.section-one p {

max-width: 60%;
line-height: 25px;
font-size: 14px;
font-family: var(--ff-textes);
color: var(--color-primary);
animation:  show  1s forwards;
transform: translateX(-100%) 
}

.section-two {

    max-width: 60%;
    margin: 6rem auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;

}
.section-two .text {

    font-family: var(--ff-textes);
    font-size: 18px;
    line-height: 32px;
    font-weight: 400;
    color: var(--color-text);


}

.section-two .intro{
    font-size: 24px;
    line-height: 38px;
    font-weight: 800;
    color: var(--color-secondary)
}


.section-two h2{
    font-family: var(--ff-titres);
    font-size: 36px;
    line-height: 40px;
    font-weight: 800;

}

.section-two .aside {
   
    padding: 2rem;
    text-align: justify;
    color: var(--color-primary);
    background-color:var(--color-secondary);

}

label {
    color: rgb(224, 60, 224);
    border-width: 5px;
    border-radius: 5px;
    margin-top: 1em;
}

input {

    padding: 10px;
  border: 1px solid gray;
  background-color:#7badaf;
  border-radius: 5px;
  font: inherit;
  font-weight: bold;
  color: rgb(92, 20, 92;

}
  
